body 
{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #000000;
}

h1
{
    padding: 10px;
    background-color: gray;
}

h2
{
border-bottom: 2px solid black;
}

h3
{
    border-bottom: 2px solid black;
}

figure
{
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

img
{
    width: 840px;
}

.matriz-empresa
{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.criadores
{
    width: 275px;
    float: right;
}

figure img
{
    width: 100%;
}